<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intq.user" >

    <application>
        <activity android:name=".activity.MeInfoActivity" />
        <activity android:name=".activity.EditUserNameActivity" />
        <activity android:name=".activity.EditEmailActivity" />
        <activity android:name=".activity.EditPwdActivity" />
        <activity android:name=".activity.MeSafetyActivity" />
    </application>
</manifest>
