<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intq.user" >

    <application>
        <activity android:name=".activity.MeInfoActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".activity.EditUserNameActivity" />
        <activity android:name=".activity.EditEmailActivity" />
        <activity android:name=".activity.EditPwdActivity" />
        <activity android:name=".activity.MeSafetyActivity" />
        <activity android:name=".activity.EditMobileActivity" />
        <activity android:name=".activity.MeStarActivity" />
        <activity android:name=".activity.MeHistoryActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.intq.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
