<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intq.main">

    <application>
        <activity android:name="com.example.intq.main.activity.MainFromViewPagerActivity" />
        <activity android:name="com.example.intq.main.activity.TabConfigActivity" />
        <activity android:name="com.example.intq.main.activity.SetActivity" />
        <activity android:name="com.example.intq.main.activity.AddCircleActivity" />
        <activity android:name=".activity.QAActivity" />
    </application>

</manifest>